bin
.gradle/1.9/taskArtifacts/cache.properties
.gradle/1.9/taskArtifacts/cache.properties.lock
.gradle/1.9/taskArtifacts/fileHashes.bin
.gradle/1.9/taskArtifacts/fileSnapshots.bin
.gradle/1.9/taskArtifacts/outputFileStates.bin
.gradle/1.9/taskArtifacts/taskArtifacts.bin
.project
.settings/org.eclipse.jdt.core.prefs
build/classes/main/bincall/BinCallUtils.class
build/classes/main/bincall/Command$1.class
build/classes/main/bincall/Command$DefaultResultCodeInterpreter.class
build/classes/main/bincall/Command$ResultCodeInterpreter.class
build/classes/main/bincall/Command.class
build/classes/main/bincall/Commands.class
build/classes/main/bincall/GlobalSettings.class
build/classes/main/bincall/installer/Downloader$1.class
build/classes/main/bincall/installer/Downloader.class
build/classes/main/bincall/installer/Installer.class
build/classes/main/bincall/installer/InstallerContext.class
build/classes/main/bincall/installer/Installers$1.class
build/classes/main/bincall/installer/Installers.class
build/classes/main/bincall/lookup/BinLookupStrategy.class
build/classes/main/bincall/lookup/DirectoryListLookup.class
build/classes/main/bincall/lookup/InstallLookup.class
build/classes/test/bincall/CommandTest.class
build/distributions/binary-caller-code.zip
build/docs/java2html/bincall/BinCallUtils.java.html
build/docs/java2html/bincall/Command.java.html
build/docs/java2html/bincall/Commands.java.html
build/docs/java2html/bincall/GlobalSettings.java.html
build/docs/java2html/bincall/installer/Downloader.java.html
build/docs/java2html/bincall/installer/Installer.java.html
build/docs/java2html/bincall/installer/InstallerContext.java.html
build/docs/java2html/bincall/installer/Installers.java.html
build/docs/java2html/bincall/lookup/BinLookupStrategy.java.html
build/docs/java2html/bincall/lookup/DirectoryListLookup.java.html
build/docs/java2html/bincall/lookup/InstallLookup.java.html
build/docs/javadoc/allclasses-frame.html
build/docs/javadoc/allclasses-noframe.html
build/docs/javadoc/bincall/BinCallUtils.html
build/docs/javadoc/bincall/Command.DefaultResultCodeInterpreter.html
build/docs/javadoc/bincall/Command.ResultCodeInterpreter.html
build/docs/javadoc/bincall/Command.html
build/docs/javadoc/bincall/Commands.html
build/docs/javadoc/bincall/GlobalSettings.html
build/docs/javadoc/bincall/installer/Downloader.html
build/docs/javadoc/bincall/installer/Installer.html
build/docs/javadoc/bincall/installer/InstallerContext.html
build/docs/javadoc/bincall/installer/Installers.html
build/docs/javadoc/bincall/installer/package-frame.html
build/docs/javadoc/bincall/installer/package-summary.html
build/docs/javadoc/bincall/installer/package-tree.html
build/docs/javadoc/bincall/lookup/BinLookupStrategy.html
build/docs/javadoc/bincall/lookup/DirectoryListLookup.html
build/docs/javadoc/bincall/lookup/InstallLookup.html
build/docs/javadoc/bincall/lookup/package-frame.html
build/docs/javadoc/bincall/lookup/package-summary.html
build/docs/javadoc/bincall/lookup/package-tree.html
build/docs/javadoc/bincall/package-frame.html
build/docs/javadoc/bincall/package-summary.html
build/docs/javadoc/bincall/package-tree.html
build/docs/javadoc/constant-values.html
build/docs/javadoc/deprecated-list.html
build/docs/javadoc/help-doc.html
build/docs/javadoc/index-all.html
build/docs/javadoc/index.html
build/docs/javadoc/overview-frame.html
build/docs/javadoc/overview-summary.html
build/docs/javadoc/overview-tree.html
build/docs/javadoc/package-list
build/docs/javadoc/resources/inherit.gif
build/docs/javadoc/stylesheet.css
build/libs/META-INF/MANIFEST.MF
build/libs/binary-caller-code.jar
build/reports/findbugs/main.xml
build/reports/pmd/main.html
build/reports/pmd/main.xml
build/reports/pmd/test.html
build/reports/pmd/test.xml
build/reports/tests/classes/bincall.CommandTest.html
build/reports/tests/classes/css/base-style.css
build/reports/tests/classes/css/style.css
build/reports/tests/classes/htc/css3-pie-1.0beta3.htc
build/reports/tests/classes/js/report.js
build/reports/tests/css/base-style.css
build/reports/tests/css/style.css
build/reports/tests/htc/css3-pie-1.0beta3.htc
build/reports/tests/index.html
build/reports/tests/js/report.js
build/reports/tests/packages/bincall.html
build/reports/tests/packages/css/base-style.css
build/reports/tests/packages/css/style.css
build/reports/tests/packages/htc/css3-pie-1.0beta3.htc
build/reports/tests/packages/js/report.js
build/scripts/binary-caller-code
build/scripts/binary-caller-code.bat
build/test-results/TEST-bincall.CommandTest.xml
build/test-results/binary/test/output.bin
build/test-results/binary/test/output.bin.idx
build/test-results/binary/test/results.bin
build/tmp/jar/MANIFEST.MF
build/tmp/javadoc/javadoc.options
.classpath
config.log
gradle-app.setting
